 <!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<body style="background-color:white;">
<h1 style="color:blue;">PYGIRLS</h1>
<p> It an organization that helps young ladies to develpo their skills in cerating web-sites in PYTHONE language.</p>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Latifa</td>
    <td>Noor</td>
    <td>20</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>25</td>
  </tr>
</table> 

</body>
</html> 